h2,
h3,
h4,
h5,
h6 {
  cursor: pointer;
  user-select: none;
  color: var(--accent-alpha-70);

  &:hover {
    font-style: oblique;
    color: var(--accent);
  }
}

.zola-anchor {
  text-decoration: none;
}

.zola-anchor::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--accent);
  transition: width 0.3s ease-in-out;
}

.zola-anchor:hover::after {
  width: 100%;
}
